<%= render :partial => 'cart_table' %>

      <% @cart.line_items.each do |line_item| %>
        <tr>
          <th scope="col"><%= link_to line_item.vinyl.artist.name %></th>
          <th scope="col"><%= link_to line_item.vinyl.title, vinyl_path(line_item.vinyl) %></th>
          <th scope="col">$<%= line_item.vinyl.price %></th>
          <th scope="col"><%= line_item.quantity %></th>
          <th scope="col"><%= link_to "Edit", edit_cart_path(current_cart), class: 'btn btn-outline-secondary' %></th>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<h3>Order total: <strong>$<%= current_cart.total %></strong> </h3>
