
<% @vinyls.each do |vinyl| %>
  <p><%= vinyl.artist.name %> --- <%= vinyl.title %> --- $<%= vinyl.price %> --- Qty: <%= vinyl.inventory %></p>
<% end %>

<% @genres.each do |genre| %>
  <%= genre.name %>
<% end %>
